[submodule "mi_card_flutter"]
	path = mi_card_flutter
	url = https://github.com/AshbeeKim/mi_card_flutter.git
[submodule "dicee-flutter"]
	path = dicee-flutter
	url = https://github.com/AshbeeKim/dicee-flutter.git
[submodule "magic-8-ball-flutter"]
	path = magic-8-ball-flutter
	url = https://github.com/AshbeeKim/magic-8-ball-flutter.git
[submodule "xylophone-flutter"]
	path = xylophone-flutter
	url = https://github.com/AshbeeKim/xylophone-flutter.git
[submodule "quizzler-flutter"]
	path = quizzler-flutter
	url = https://github.com/AshbeeKim/quizzler-flutter.git
[submodule "destini"]
	path = destini
	url = https://github.com/AshbeeKim/destini-challenge-starting.git
[submodule "bmi-calculator"]
	path = bmi-calculator
	url = https://github.com/AshbeeKim/bmi-calculator-flutter.git
[submodule "Clima-Flutter"]
	path = Clima-Flutter
	url = https://github.com/AshbeeKim/Clima-Flutter.git
[submodule "bitcoin-ticker"]
	path = bitcoin-ticker
	url = https://github.com/AshbeeKim/bitcoin-ticker-flutter.git
