[submodule "mi_card_flutter"]
	path = mi_card_flutter
	url = https://github.com/AshbeeKim/mi_card_flutter.git
[submodule "dicee-flutter"]
	path = dicee-flutter
	url = https://github.com/AshbeeKim/dicee-flutter.git
